html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"), url(../font/MullerRegular.woff2) format("woff2"),
    url(../font/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLight"), url(../font/MullerLight.woff2) format("woff2"),
    url(../font/MullerLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"), url(../font/MullerMedium.woff2) format("woff2"),
    url(../font/MullerMedium.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1170px;
  padding: 30px 0;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.link-arrow {
  color: #cc9933;
  background-image: url("../img/greater-than-yellow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-indent {
  margin-bottom: 70px;
}

.header-upper-block {
  margin-bottom: 30px;
  align-items: center;
}

.header-contact {
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  color: #666666;
}

.header-logo {
  margin-right: 40px;
}

.header-lower-block {
  padding: 14px 45px;
  background-color: #ffffff;
  border-radius: 15px;
}

.header-link {
  color: #cc9933;
  background-image: url(../img/arrow-right.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 28px;
}

.header-nav {
  margin-right: auto;
  align-items: center;
  color: #666666;
}

.btn {
  border: 1px solid #cc9933;
  border-radius: 10px;
  padding: 13px 20px;
  color: #cc9933;
}

.header-list:not(:last-child) {
  margin-right: 45px;
}

.header-button {
  margin-right: 40px;
}

.title {
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
}

.offers-block:last-child {
  background-image: url(../img/offers-bg-3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
}

.offers-block:first-child {
  margin-right: 24px;
}

.offers-item:not(:last-child) {
  margin-bottom: 24px;
}

.item-left {
  width: 573px;
  padding: 40px 108px 40px 45px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.item-left:nth-child(1) {
  background-image: linear-gradient(
      90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%
    ),
    url(../img/offers-bg-1.jpg);
}

.item-left:nth-child(2) {
  background-image: linear-gradient(
      90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%
    ),
    url(../img/offers-bg-2.jpg);
}

.offers-item-title {
  margin-bottom: 15px;
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
}

.offers-item-descr {
  margin-bottom: 47px;
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  line-height: 20px;
}

.offers-item-link {
  text-align: left;
  font-size: 16px;
  color: #cc9933;
  font-weight: 400;
  line-height: 16px;
  padding-right: 15px;
}

.item-right {
  width: 573px;
  padding: 40px 108px 40px 45px;
}

.item-right .offers-item-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.item-right .offers-item-descr {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.about-us-text {
  width: 888px;
  font-size: 16px;
  line-height: 32px;
}

.sevices-card-text {
  width: 402px;
}

.sevices-card {
  width: 573px;
  padding: 191px 126px 35px 45px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  border-radius: 15px;
}

.sevices-card:nth-child(1) {
  background-image: url("../img/services-bg-1.jpg");
}

.sevices-card:nth-child(2) {
  background-image: url("../img/services-bg-2.jpg");
}

.sevices-card:nth-child(3) {
  background-image: url("../img/services-bg-3.jpg");
}

.sevices-card:nth-child(4) {
  background-image: url("../img/services-bg-4.jpg");
}

.sevices-card:nth-child(2n + 1) {
  margin-right: 24px;
}

.sevices-card:not(:nth-last-child(-n + 2)) {
  margin-bottom: 24px;
}

.sevices-card-link {
  padding-right: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.sevices-card-descr {
  font-size: 16px;
  line-height: 32px;
}

.advantages-card {
  width: 276px;
  min-height: 276px;
  padding: 116px 42px 32px 45px;
  border-radius: 15px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-card:nth-child(1) {
  background-image: url("../img/bathtub.svg");
}

.advantages-card:nth-child(2) {
  background-image: url("../img/hanger.svg");
}

.advantages-card:nth-child(3) {
  background-image: url("../img/heating.svg");
}

.advantages-card:nth-child(4) {
  background-image: url("../img/hotel-key.svg");
}

.advantages-card:nth-child(5) {
  background-image: url("../img/parking.svg");
}

.advantages-card:nth-child(6) {
  background-image: url("../img/reception.svg");
}

.advantages-card:nth-child(7) {
  background-image: url("../img/security-box.svg");
}

.advantages-card:nth-child(8) {
  background-image: url("../img/swimming-pool.svg");
}

.advantages-card:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-card:nth-child(-n + 4) {
  margin-bottom: 22px;
}

.advantages-card-text {
  font-size: 16px;
  line-height: 32px;
}

.text-content {
  padding: 32px 45px 45px 45px;
}

.price-star {
  margin-bottom: 16px;
}

.accommodation-card {
  background-color: #ffffff;
  border-radius: 15px;
}

.accommodation-card:last-child {
  min-height: 440px;
  background-image: url(../img/accommodation-card-9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  padding-left: 54px;
  padding-bottom: 27px;
}

.accommodation-card-img {
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accommodation-card-title {
  margin-right: auto;
}

.accommodation-card-subtitle {
  margin-bottom: 16px;
}

.accommodation-card-description {
  margin-bottom: 20px;
}

.accommodation-card-link {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding-right: 15px;
  background-image: url("../img/greater-than.svg");
  background-size: 11px 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

.accommodation-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

.accommodation-card:not(:nth-last-child(-n + 3)):nth-child(-n + 9) {
  margin-bottom: 24px;
}

.accommodation-card:last-child {
  width: 374px;
  text-align: center;
}
